/* ------------
  Normalizing
------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* -----------------
  Elements by type
------------------ */

a {
  color: SteelBlue;
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  color: #fcbe24;
}

body {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  background-color: #fffefc;
  color: #fcbe24;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 3rem;
  padding: 0 24px;
}

button{
  background-color: #03C04A;
  border: 2.5px solid #151e3d;
    border-radius: 8px;
  color: #151e3d;
    font-family: 'Consolas', monospace;
    font-size: 1rem;
    font-weight: bold;
  padding: 4px 16px;
}

button:hover { 
  background-color: #fcbe24;
}

input[type="number"] {
  border: 2px solid #fcbe24;
    border-radius: 5px;
  text-align: right;
  width: 72px;
}

p {
  color: darkslategrey;
}

/* ------------------
  Elements by class
------------------ */

.info-button{
  background: none;
  cursor: pointer;
  border: none;
  margin-left: 1vw;
  padding: 0;
}

.info-button:hover .info-emoji{
  display: none;
}

.info-button:hover::before{
  content: "â“";
}

/* ---------------
  Elements by ID
--------------- */

#section-1{
  display: flex;
    align-items: center;  
    flex-direction: column;
    row-gap: 3vh;
  margin-bottom: 3vh;
  min-width: 300px;
}

#header{
  font-size: 2.5rem;
}

#intro-info{
  text-align: justify;
  max-width: 500px;
  width: 80%;
}

#data-form {
  border: 2px dashed #151e3d;
    border-radius: 8px;
  color: darkslategrey;

  display: grid;
    grid-template-columns: 2fr 1fr 0.15fr;
      row-gap: 1vh;

  padding: 8px 10px;
}

#data-form > span{
  margin: 0 8px;
}

#log-container {
  background-color: #151e3d;
  border-radius: 15px;
  font-family: 'Consolas', monospace;
  margin: 2px;
    margin-bottom: 3rem;
  padding: 12px;
  white-space: pre;
}

#help-popup {
  display: none;

  background-color: #fffefc;
  border: 1px solid #ccc;
    border-radius: 10px;

  padding: 20px;
  position: fixed;
    top: 50%;
    left: 50%;

  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 999;
}

#popup-content{
  justify-content: center;
  margin-right: 5px;
  margin-top: 12px;
  text-align: justify;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 114, 118, 0.85);
  z-index: 998;
}

#closeButton {
  cursor: pointer;
  position: fixed;
    top: 10px;
    right: 10px;
}

/* ---------------------------------
  For bigger screens #mobilefirst 
--------------------------------- */

@media only screen 
  and (min-width: 640px){
    body{
      display:flex;
        align-items: baseline;
        column-gap: 12px;
        flex-direction: row;
    }

    #intro-info{
      max-width: 380px;
    }
  }